@use "../../global" as *;
@use "sass:math";

// ルーペのアイコン
.c-loupe {
  background-color: $color-main;
  width: 5.4rem;
  height: 5.4rem;
  position: relative;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  
}

.c-loupe span {
  position: absolute;
  content: '';
  width: 2.5rem;
  height: 2.5rem;
  border: solid 2px $color-white;
  border-radius: 50%;
  
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.c-loupe span::after {
  position: absolute;
  content: '';
  width: 1.18rem;
  height: 0.2rem;
  background-color: $color-white;
  bottom: 0;
  left: 100%;
  transform-origin: left center;
  transform: translateX(-20%) rotate(45deg);
}