/* 色 */
$color-main: #000000;
$color-green: #4D9600;
$color-white: #fff;
$color-back-green: rgb(77 150 0 / .15);
/* font */
$font-medium: 500;
$font-demibold: 600;
/* ヘッダー高さ */
$header-height: 80px;
$header-height-sp: 50px;

