@use "../../global" as *;
@use "sass:math";

// ヘッダー
.p-header {
  width: 100%;
  height: $header-height-sp;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  // background-color: #fff;
  background-color: yellow;
  // スクロール後に背景色変更
  // transition: background-color 0.3s;

  @include mq(md) {
    // 高さは、文字33、上下余白25.5、21.5で、合計80px
    // height: 80px;
    // 
    // height: min(vw(80, 1080), 80px);
    height: hvw($header-height-pc);
  }
}

// スクロールで背景色変更
.p-header.is-move {
  // background-color: $color-green;
}

.p-header__inner {
  height: 100%;
  padding-inline: 2rem 0;
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  
  @include mq(md) {
    padding-inline: hvw(30);
    margin-inline: auto;
    max-width: calc(88rem + 3rem + 3rem);
  }
}

.p-header__logo {

}

.p-header__logo a {
  height: 50px;
  display: flex;
  align-items: center;
  transition: opacity 0.3s;
  gap: .63rem;
  
  @include mq(md) {
    height: 80px;
    gap: 1rem
  }

}

.p-header__logo a:hover {
  @media (any-hover: hover) {
    opacity: 0.7;
  }
}

.p-header__image {
  width: 2rem;

  @include mq(md) {
    width: 3.2rem;
  }
}

.p-header__image img {
  aspect-ratio: 20 / 31;
  object-fit: cover;
}

.p-header__company {
  // font-size: 1.3rem;
  // font-size: calc(13 / 375 * 100vw);
  font-size: calc(13 / 375 * 100vw);
  line-height: calc(14 / 13);
  font-weight: $font-bold;

  @include mq(md) {
    // font-size: 1.5rem;
    // font-size: calc(15 / 1080 * 100vw);
    font-size: hvw(15);
    line-height: calc(23 / 15);
  }
}

.p-header__company span {
  @include mq(md) {
    display: inline-block;
    font-size: 2rem;
    line-height: calc(23 / 20);
  }
}

// SP用のハンバーガー・メニューをカバー
.p-header__sp {

}

// SP用
.p-header__menu {
  position: absolute;
  top:$header-height-sp;
  right: 0;
  width: 300px;
  height: auto;

  // display: none;
  position: fixed;
  transform: translateX(100%);
  transition: transform .4s;
}

// SPハンバーガー
.p-header__hamburger {

}

// SPドロワーメニュー
.p-header__menu.is-open {
  // display: block;
  transform: translateX(0);
}

.p-header__menu li a {
  background-color: $color-red;
  display: block;
  font-size: 1.8rem;
  line-height: calc(58 / 18);
  color: $color-white;
  padding-left:20px;
  transition:
    background-color 0.4s ease,
    color 0.4s ease;

  @media (any-hover: hover) {
    &:hover {
      background-color: $color-white;
      color: $color-red
    }
  }
}


// PC用
.p-header__nav ul {
  display: flex;
  column-gap: 33px;
  align-items: center;
  // column-gap: 16px;

}

.p-header__nav-item a {
  @include mq(md) {
    text-transform: uppercase;
    color: $color-main;
    font-size: 1.8rem;
    line-height: 4.5rem;
    transition: opacity 0.4s;
    display: flex;
    align-items: center;
    position: relative;
    // height: 80px;
    
  }

  // @media (max-width: 940px) {
  //   font-size: 1.6rem;
  // }
}

.p-header__nav-item--contact a {

  @include mq(md) {
    background-color: $color-red;
    color: $color-white;
    padding-inline: 3rem;
  }
}

.p-header__nav-item a:hover::after {
  @media (any-hover: hover) {
    transform: scaleX(1);
  }
}

// 下線
.p-header__nav-item a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: 24.5px;
  left: 0;
  background-color: $color-main;
  // 横幅0に
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.4s;
}
