@use "../../global" as *;
@use "sass:math";

.p-top-qa-content {
  border-top: solid .5px $color-main;
  padding-block: 1.7rem .9rem;
  padding-inline: 0 1.46rem;
  display: flex;
  column-gap: 1.88rem;
  align-items: center;

  @include mq(md) {
    padding-block: 1.5rem 1.5rem;
    padding-inline: 1.95rem 2.9rem;
    column-gap: 1rem;
  }
}

.p-top-qa-content--answer {
  border-top: none;
  background-color: rgb(203 0 0 / 10.2%);
  padding-inline: 0 4.7rem;
  display: none;

  @include mq(md) {
    // padding-block: 1.5rem 1.5rem;
    padding-inline: 1.95rem 2.9rem;
    // column-gap: 1rem;
  }

}

.p-top-qa-content--answer.active {
  display: block;
}

// 文章
.p-top-qa-content p {
  font-size: 1.6rem;
  line-height: calc(30 / 16);
  display: flex;
  flex: 1;
  align-items: center;
  gap: 2rem;

  @include mq(md) {
    font-size: 1.7rem;
    line-height: calc(30 / 17);
  }
}

.p-top-qa-content--answer p {
  color: $color-red;
  font-weight: $font-bold;
}

// 「Q」
.p-top-qa-content p::before {
  content: 'Q';
  // position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $color-main;
  border: solid 1px $color-main;
  color: $color-white;
  font-weight: $font-bold;
  // text-align: center;
  border-radius: 50%;
  font-size: 2rem;
  flex-shrink: 0;
  width: 3.5rem;
  height: 3.5rem;
}

// 「A」
.p-top-qa-content--answer p::before {
  content: 'A';
  background-color: $color-red;
  border: solid 1px $color-red;
}





